ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0 20px 0 0;
	position: relative;
}

.content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.post {
	border: 1px solid black;
  	padding: 10px;
  	margin: 10px;
}

.sideposts {
	position: fixed;
  	right: 0;
  	padding: 10px;
  	margin: 10px;
}

#login {
	position: fixed;
  	right: 0;
  	padding: 10px;
  	margin: 10px;
}
